* {
  box-sizing: border-box;
}

.block_header {
  position: fixed;
  width: 100%;
  background-color: blue;
  text-align: center;
  font-size: 10px;
  color: white;
  border: 1px solid black;
  height: 50px;
  z-index: 10;
}

.main {
  display: flex;
}

.block_links {
  position: fixed;
  top: 55px;
  border-right: 3px solid rgb(4, 73, 4);
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 250px;
  z-index: 10;
}

.block_sidebar {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 10px;
}

.block_sidebar div {
  position: relative;
}

.block_sidebar div a:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  transform: translate(50%, 50%);
  background-color: red;
  left: -20px;
  border-radius: 50%;
}

.block_list {
  position: fixed;
  height: 100%;
  margin-top: 250px;
  width: 1000px;
  left: 250px;
  top: -200px;
  overflow-y: scroll;
}
.block_sticky {
  width: 100%;
  text-align: center;
  font-size: 30px;
  position: sticky;
  top: 0px;
  border: 2px solid black;
  background-color: brown;
}

ul li {
  position: static;
  font-size: 40px;
}
